<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Dodawanie Pytań</h1>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="/questions" method="get">
                <div class="form-group">
                    <label>Treść</label>
                    <textarea name="name" class="form-control" rows="1" placeholder="Nazwa"></textarea>
                    <textarea name="content" class="form-control" rows="5" placeholder="Treść Pytania"></textarea>

                        <input type="radio" name="answer" value="true" required> Prawda
                        <input type="radio" name="answer" value="false" required> Fałsz
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-animated">Dodaj</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>