<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pytania</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Task List</title>
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}"  href="../css/style.css" />
</head>
<body>
<div class="container">

    <div th:each="question : ${questions}">
        <div class="well">
            <div class="media">
                <div clas="media-body">
                    <h4 class="media-heading" th:text="${question.name}"></h4>
                    <p th:text="${question.content}"></p>
                    <p th:text="${question.answer_true}"></p>
                    <p th:text="${question.answer_false1}"></p>
                    <p th:text="${question.answer_false2}"></p>
                    <p th:text="${question.answer_false3}"></p>
                </div>
            </div>
        </div>
    </div>
</div></body>
</html>